<tbody>
  <% sedes.each do |sede| %>
    <tr>
      <td>
        <div class="checkboxConvContainer">
          <input
            type="checkbox"
            class="checkbox rowCheckboxesSedes"
            name="sedes_codigos[]"
            value="<%= sede[:id_facultad] %>"
          >
          Seleccionar
        </div>
      </td>

      <!-- Facultad / Regional -->
      <td><%= sede[:nombre] %></td>

      <!-- Extensiones -->
      <td>
        <small><%= sede[:extensiones] %></small>
      </td>
    </tr>
  <% end %>

  <tr class="paginationTr">
    <td colspan="3"></td>
  </tr>
</tbody>
