<h2 style="text-align:center;"><b>Su trámite ha finalizado</b></h2>
<p>Estimado usuario. Le comunicamos que su Solicitud #<%= @issue.id%> - <%= @issue.subject%> ha finalizado.</p>
<p>Le solicitamos 30 segundos de su tiempo para responder la siguiente encuesta que nos ayudará a mejorar: Hacer <%= link_to "click aquí", "https://forms.office.com/Pages/ResponsePage.aspx?id=o3louWUArUa9qgIG5H7X3vj-Q2RRxjZCmbPEWZHOIOtUMFNSRkNPQU5OQ05SQU85UU1HS1Y4MVFZMS4u" %> para responder la encuesta</p>
