<div id="quick-note" style="margin-top: 5px; line-height: 1.4em;">
  <div style="clear: both"></div>
  <%= labelled_form_for @issue, :html => {:id => 'journal-new-form', :multipart => true} do |f| %>
    <fieldset style="margin-top: 5px; background-color: #f6f6f6;">
    <legend><%= l(:field_notes) %></legend>
    <%= f.text_area :notes, :id => "journal_new_notes", :class => 'wiki-edit', :placeholder=>"Escribe un comentario...", :rows => 5, :no_label => true %>
    <%= submit_tag l(:button_submit) %>
    </fieldset>
<% end %>
</div>
<script type="text/javascript">
  function hideAddNotesForm(){
    $('#journal-new-form').hide();
    $('#add-note').show();
  }
  /* $( "#journal_new_notes" ).keypress(function(e) {
    if ( e.which == 13 ) {
      console.log('nota-rapida submit');
       //this.form.submit();
       $('#submit-qn').click();
       //return false;
    }
  }); */
</script>
