<% prefix ||= nil %>

<% campos.each_with_index do |campo, index| %>
  <% numero = [prefix, (index + 1)].compact.join('.') %>
  
  <%= generar_campo(campo, numero) %>

  <% if campo.respond_to?(:subcampos) && campo.subcampos.any? %>
    <div class="contenedor-subcampos ms-4 mt-3 border-start ps-3">
      <%= render partial: 'formulario_preview',
                 locals: { campos: campo.subcampos, prefix: numero } %>
    </div>
  <% end %>
<% end %>
