<% issue = local_assigns[:issue] || @issue %>
<% current_raw = (issue ? issue.custom_field_value(cf.id) : params.dig(:issue, :custom_field_values, cf.id.to_s)).to_s %>
<% ids = current_raw.split(',').reject(&:blank?) %>
<% atts = ids.present? ? Attachment.where(id: ids).index_by { |a| a.id.to_s } : {} %>

<div class="rmacf-input">
  <% if atts.any? %>
    <ul class="rmacf-list">
      <% ids.each do |aid| %>
        <% if (a = atts[aid]) %>
          <li class="rmacf-item rmacf-item--persisted" data-attachment-id="<%= a.id %>">
            <%= link_to_attachment(a, download: false) %>
            <button type="button" class="rmacf-remove" title="Quitar">&times;</button>
          </li>
        <% end %>
      <% end %>
    </ul>
  <% end %>

  <div class="rmacf-drop">
    <%= file_field_tag "multiple_attachments_cf[#{cf.id}][]",
          id: tag_id, multiple: true, accept: 'application/pdf' %>
    <span class="rmacf-hint">Arrastrá o hacé click para elegir archivos</span>
  </div>

  <!-- Campo hidden: lista final de IDs (se actualiza vía JS al borrar) -->
  <%= hidden_field_tag tag_name, current_raw, id: "rmacf-hidden-#{cf.id}" %>
</div>
